jupyterlab-language-pack-ja-jp
black
jupyterlab_code_formatter
python-lsp-server
lckr-jupyterlab-variableinspector
cmake

scikit-build
pydub
librosa
soundfile
numpy
matplotlib
japanize-matplotlib
plotly
pypdf
python-docx
selenium
requests
pillow
opencv-python
pyinstaller
nuitka
SchemDraw
faker
janome
polars
pytest
# slycot
control